 /*Global */
 body {
 	margin: 0px !important;
  font-family: "Arial";
 }

 /* Main Wrapper*/

 .main-wrapper {
 }

 /* Grid Layout */

 * {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {

  float: left;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-30 {
display: inline-flex;
  width: 30%;
}

.col-33 {
display: inline-flex;
  width: 33%;
}
.col-50 {
display: inline-flex;
  width: 50%;
}
.col-75 {
  width: 75%;
}

.col-80 {
  width: 80%;
}

.col-100 {
  width: 100%;
}


.float-left {
	float: left;
}

.float-right {
	float: right;
}

.row {
     line-height: 4.5rem;
    /*padding: 10px;*/
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Side Bar */

.sidebar-wrapper {
  background: #ffd500;
  border-radius: 50px 0 0 50px;
  padding: 12rem 5rem;
  text-align: center;
}

form img {
  max-height: 110px;
}

/*Form*/

form button {
  padding: 1rem 4rem;
  font-size: 20px;
  border-radius: 5px;

  border: none;
}

form button[name='cancel'] { 
  margin: 0 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  /*  color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;*/
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
/*    width: 20px;
    height: 20px;
    border-width: thin;*/
  }

  form button[name='save'] {
    background-color: #60e6c5;
    color: #ffffff;
  }

  fieldset{
    display: inline-block;
  }


  fieldset input{
   width: 50% !important;
 }
/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  height: 75px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}


 .form-wrapper {
 padding: 2rem;

}


.form-group {
  padding: .8rem 0;
}

.form-group label{
  /*margin: auto;*/
}

.form-group span {
  vertical-align: middle;
  padding: 0 15%;
}

.form-group input{
  border: 1px solid #cad7dd;
  background-color: #f5f8f9;
  width: 100%;
      padding: 1.4rem;
  border-radius: 5px;
  color: #b1bfcd;
}


input:focus{
  color: #ff9200;
  border: 1px solid #ff9200;
}


/*Overlay*/

.overlay {
  position: absolute;
  top: 0;
  left: 25%;
  height: 100%;
  /*width: 100%;*/
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.modal {
  width: 300px;
  height: 200px;
  line-height: 200px;
  position: fixed;
  top: 50%; 
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #f1c40f;
  border-radius: 5px;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
}


/*Images*/
.img-responsive {
  max-width: 100%;
  height: auto;
}

/*Transitions*/

.imagetest img:hover{
  transform:          rotate(180deg);
  -ms-transform:      rotate(180deg);
  -moz-transform:     rotate(180deg);
  -webkit-transform:  rotate(180deg);
  -o-transform:       rotate(180deg);

  transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

.imagetest img {
  transition: all 1s;
  -ms-transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
}

/* Media Queries */

@media only screen  and (max-width : 1200px) {

.sidebar-wrapper {
  border-radius: initial;
  padding: 12rem 2rem;
}

  .col-25 {
    width: 100%;
  }
  .col-20 {
    width: 100%;
  }

  .col-30 {
  width: 50%;
}

.col-33 {
  width: 50%;
}

  .col-50 {
    width: 100%;
  }

  .col-75 {
    width: 100%;
  }

  .col-80 {
    width: 100%;
  }

  .col-100 {
    width: 100%;
  }
}
